@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper .swiper-wrapper > div {
  width: auto !important;
}

select {
  margin-left: -5px;
}
@layer components {
  .btn-primary {
    @apply text-white px-5 py-2.5 font-semibold rounded-[4px] max-lg:text-sm bg-primary-500;
  }
}

html {
  scroll-behavior: smooth;
}

input {
  outline: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

input[type="range"] {
  accent-color: #3563e9;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3563e9;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #cbd5e0;
}
